@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

main {
  min-height: 80vh;
}

.formular {
  border: 1px solid var(--color-grey-border);
  border-radius: 8px;
  margin: 2rem auto 2rem auto;
  padding: 1rem 1rem 0 1rem;
  max-width: 770px;
}

form {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

form label {
  font-size: 1rem;
  margin: 0.5rem;
  margin-left: 0;
}

form input,
form textarea {
  border: 1px solid var(--color-grey-border);
  border-radius: 8px;
  padding: 1rem;
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
}

form button[type="submit"] {
  background-color: var(--color-bg);
  color: var(--color-text-light);
  border: none;
  padding: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--color-subtitle);
  color: inherit;
}

@media screen and (max-width: 900px) {
    .hero-content h1 {
    font-size: 2.5rem;
  }
  .formular {
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
}