@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Farbvariablen */
:root {
  --color-bg: #000;
  --color-bg-light: #fff;
  --color-text: #000;
  --color-text-light: #fff;
  --color-grey: #666;
  --color-grey-border: #d9d9d9;
  --color-subtitle: #7b7b7b;
}

/* Allgemeine styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  color: var(--color-text);
}

/* Navigation */
.navbar {
  background: var(--color-bg);
  padding: 1rem;
}
.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 3rem;
  margin: 1.25rem;
}
.nav-list a {
  color: var(--color-text-light);
  text-decoration: none;
  padding: 0.625rem;
  font-size: 1.5rem;
}

#active {
  border-bottom: 1px solid var(--color-text-light);
}

/* Hero fuer skills, portfolio und contact */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  height: fit-content;
  padding: 3rem;
}
.hero-content h1 {
  font-size: 3rem;
  width: 100%;
  text-align: center;
}
.subtitle {
  font-size: 1.2rem;
  color: var(--color-subtitle);
  text-align: center;
}

/* zentrale styles @mediaquery 900px */
@media screen and (max-width: 900px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

/* Footer */
.footer {
  text-align: start;
  background: var(--color-bg);
  color: var(--color-text-light);
  padding: 2rem;
}
.footer-top h2 {
  margin-bottom: 1rem;
  font-size: 2em;
}
.footer-nav {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.footer-nav a {
  color: var(--color-text-light);
  text-decoration: none;
}
.social {
  margin: auto;
  width: fit-content;
}
.social a {
  display: inline-block;
  margin: 0 0.5rem;
}
.social img {
  width: 2rem;
  height: 2rem;
}

/* Responsive Design */
@media screen and (max-width: 900px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .footer-nav {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  .footer-top h2 {
    text-align: center;
    font-size: 1.5em;
  }
                                                                                                                                                                                                                   
}